@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background-color: #1F1F28;
  color: #D3BD84;
  font-weight: 600;
}

input {
  background-color: transparent;
  outline: none;
  border: 2px solid #372F3F;
  border-radius: 6px;
  padding: 10px;
}

button {
  border-radius: 6px;
}